
header{
    background-color: #ee2c2c;
    color: white;
    line-height: 55px;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 2;
}

header p{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f4;
}

footer{
    background-color: rgb(255, 255, 255);
    display: table;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    position: sticky;
    bottom: 0;
}
footer a{
    display: table-cell;
    text-align: center;
    width: 33.3%;
    color: rgb(127, 127, 127);
    font-size: 10px;
}
a{
    text-decoration: none;
}



ul li{
    list-style: none;
}











